{% extends 'base.html' %}
{% load custom_filters %}
{% load static %}
{% block title %}Student Reviews{% endblock %}
{% block styles %} <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"> {% endblock %}
{% block content %}
<div class="container mt-5">
    <h2 class="text-center">{% if request.user.pk == student.user.pk %}Le mie recensioni{% else %}Recensioni di {{ student.user.get_full_name }}{% endif %}</h2>
    {% if request.user.is_authenticated and request.user.pk != student.pk %}
    <div class="card mb-3">
        <div class="card-body">
            <h5 class="card-title"><span class="text-muted">Informazioni su {{ student.user.get_full_name }}</span></h5>
            <span><img style="width: 30px; height: 30px; margin-right: 10px; margin-bottom: 10px" src="{% static 'imgs/birth_date.png' %}" alt="Birth date icon">{{ student.user.birth_date }}</span>
            <p class="card-text"><span style="color: #3e50ab; font-weight: bold">Email: </span>{{ student.user.email }}</p>
            <p class="card-text"><span style="color: #3e50ab; font-weight: bold">Reputazione: </span>{{ student.reputation_score }}/100</p>
        </div>
    </div>
    <hr>
    {% endif %}
    <div>
        {% for review in reviews %}
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title"><span class="text-muted"><a style="text-decoration: none; color: #6f777f" href="{% url 'reviews:tutor_reviews' review.tutor.user.pk %}">{% if review.tutor.user.id == request.user.id %}Tu{% else %}{{ review.tutor.user.get_full_name }}{% endif %}</a> ({{ review.rating }}/5)</span></h5>
                    <p class="card-text">{{ review.comment }}</p>
                    <p class="card-text"><small class="text-muted">{{ review.created_at }}</small></p>

                    <!-- Pulsanti Like e Dislike -->
                    <form method="post" action="{% url 'reviews:vote_review' review.pk 1 %}" style="display:inline;">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-outline-success btn-sm {% if request.user.id in user_likes|get_item:review.id %}active{% endif %}">
                            👍 Like
                        </button>
                        <span>{{ review.helpful_count }}</span>
                    </form>
                    <form method="post" action="{% url 'reviews:vote_review' review.pk 0 %}" style="display:inline;">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-outline-danger btn-sm {% if request.user.id in user_dislikes|get_item:review.id %}active{% endif %}">
                            👎 Dislike
                        </button>
                        <span>{{ review.useless_count }}</span>
                    </form>
                    {% if review.student.user.id == request.user.id %}
                        <a href="{% url 'reviews:review_update' review.pk %}?next={{ request.path }}" class="position-absolute text-primary" style="bottom: 10px; right: 40px;" title="Modifica Recensione">
                            <i class="fas fa-edit"></i>
                        </a>
                        <a href="{% url 'reviews:delete_review' review.pk %}?next={{ request.path }}" class="position-absolute text-danger" style="bottom: 10px; right: 10px;" title="Elimina Recensione">
                            <i class="fas fa-trash-alt"></i>
                        </a>
                    {% endif %}
                </div>
            </div>
        {% empty %}
            <p class="text-center">Non ci sono ancora recensioni.</p>
        {% endfor %}
    </div>
</div>

{% endblock %}